<div
  class="header"
  [ngClass]="{
    'header-fixed': scroll,
    'header-transparent dark': transparent,
    'header-light head-shadow': !transparent
  }"
>
  <div class="container">
    <nav
      id="navigation"
      class="navigation"
      [ngClass]="
        windowWidth > 991
          ? 'navigation navigation-landscape'
          : 'navigation navigation-portrait'
      "
    >
      <div class="nav-header">
        <a class="nav-brand text-logo d-flex" [routerLink]="[]">
          <img [src]="'/assets/img/logo.svg'" alt="" />
          <h5 class="fs-3 fw-bold ms-1 my-0">Resido</h5>
        </a>
        <div class="nav-toggle" (click)="toggle = !toggle"></div>
        <div class="mobile_nav">
          <ul>
            <li>
              <a
                [routerLink]="[]"
                data-bs-toggle="modal"
                data-bs-target="#login"
                class="text-dark opacity-75"
              >
                <img [src]="['/assets/img/svg/users.svg']" alt="" />
              </a>
            </li>
            <li>
              <a [routerLink]="['/submit-property']" class="text-primary">
                <img [src]="'/assets/img/svg/add.svg'" alt="" />
              </a>
            </li>
            <li>
              <a
                [routerLink]="[]"
                class="text-primary"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling"
                aria-controls="offcanvasScrolling"
              >
                <img [src]="'/assets/img/svg/bar.svg'" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="nav-menus-wrapper nav-menus-wrapper-open"
        [ngClass]="{ 'nav-menus-wrapper-open': toggle }"
        [ngStyle]="{ 'transition-property': toggle ? 'none' : 'left' }"
      >
        <span class="nav-menus-wrapper-close-button" (click)="toggle = !toggle"
          >✕</span
        >
        <ul class="nav-menu">
          <li
            [ngClass]="{
              active: current === '/clients',
            }"
          >
            <a routerLink="/clients">Clients </a>
          </li>
          <li
            [ngClass]="{
              active: current === '/whatsapp',
            }"
          >
            <a routerLink="/whatsapp">WhatsApp </a>
          </li>
          <li
            [ngClass]="{
              active: current === '/send-message',
            }"
          >
            <a routerLink="/send-message">Send Message </a>
          </li>
          <li
            [ngClass]="{
              active: current === '/groups',
            }"
          >
            <a routerLink="/groups">Groups </a>
          </li>
          <li
            [ngClass]="{
              active: current === '/token',
            }"
          >
            <a routerLink="/token">Token </a>
          </li>
          <li
            [ngClass]="{
              active: current === '/api-instructions',
            }"
          >
            <a routerLink="/api-instructions">API Instructions </a>
          </li>
        </ul>

        <ul class="nav-menu nav-menu-social align-to-right">
          <li>
            <a
              [routerLink]="[]"
              data-bs-toggle="modal"
              data-bs-target="#login"
              class="fw-medium text-muted-2"
            >
              <span class="svg-icon svg-icon-2hx me-1">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    opacity="0.3"
                    d="M16.5 9C16.5 13.125 13.125 16.5 9 16.5C4.875 16.5 1.5 13.125 1.5 9C1.5 4.875 4.875 1.5 9 1.5C13.125 1.5 16.5 4.875 16.5 9Z"
                    fill="currentColor"
                  />
                  <path
                    d="M9 16.5C10.95 16.5 12.75 15.75 14.025 14.55C13.425 12.675 11.4 11.25 9 11.25C6.6 11.25 4.57499 12.675 3.97499 14.55C5.24999 15.75 7.05 16.5 9 16.5Z"
                    fill="currentColor"
                  />
                  <rect
                    x="7"
                    y="6"
                    width="4"
                    height="4"
                    rx="2"
                    fill="currentColor"
                  />
                </svg>
              </span>
              SignUp or SignIn
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>


<!-- login -->
<app-login></app-login>


